.About {
  .collapses-zone {
    overflow: hidden;
    @include grid(1);
    gap: $twentypx;
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 1250px) {
  .About {
    .collapses-zone {
      gap: $thirtypx;
    }
  }
}
