.Cover {
  position: relative;
  height: calc(2 * $hundredpx + $twenty-fivepx + $twentypx);
  margin-bottom: $tenpx;
  display: flex;
  border-radius: $tenpx;
  overflow: hidden;

  .cover {
    flex: 0 0 100%;
    transition: transform 0.3s;
  }
  .arrow {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: $twenty-fourpx;
    color: $color5;
    &.left {
      left: $sevenpx;
      transform: rotate(-90deg) translateX(40%);
    }
    &.right {
      right: $sevenpx;
      transform: rotate(90deg) translateX(-40%);
    }
    transition: 0.3s ease-in-out;
    &:active {
      color: darken($color: $color5, $amount: 10%);
    }
  }
  .nb-of-pictures {
    z-index: 1;
    @include absolute-center;
    top: 90%;
    color: $color5;
    text-shadow: $text-shadow;
    font-weight: $weight-medium;
    // display: none;
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 768px) {
  .Cover {
    height: calc(3 * $hundredpx);

    .nb-of-pictures {
      display: block;
    }
  }
}
@media screen and (min-width: 1250px) {
  .Cover {
    height: calc(4 * $hundredpx + $fifteenpx);
    border-radius: $twenty-fivepx;
    .arrow {
      font-size: $fiftypx;
    }
  }
}
