body {
  font-family: $font1;
  @include classic-body-font-size;
  min-width: 320px;
  max-width: 1920px;
}

main {
  @include classic-padding;
}

h1 {
  @include classic-h1;
}

h2 {
  @include classic-h2;
}

// Overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $banner-overlay;
  z-index: 5;
  &.for-modal {
    position: fixed;
  }
  &.half {
    background-color: transparent;
    background-image: linear-gradient((0deg, $banner-overlay), transparent);
    background-size: 100% 55%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.Banner {
  &.banner-has-not-title {
    .overlay {
      background-color: $banner-overlay2;
    }
  }
}

.modal-image {
  @include classic-modal-image;
  .close-modal {
    @include absolute(95%, 105%);
    @include classic-text-shadow;
    background-color: $color1;
    border-radius: 50%;
    color: $color5;
    padding: $fourpx $sixpx;
    font-size: $sixteenpx;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: lighten($color: $color1, $amount: 10%);
    }
    &:active {
      background-color: $color2;
      color: $color1;
      transform: scale(0.9);
    }
  }
  img {
    @include classic-border-radius;
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 768px) {
  .d-none-from-tablet {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  main {
    padding-block: 0 $fiftypx;
  }

  .modal-image {
    .close-modal {
      @include absolute(calc(100% - $twenty-fourpx), 102%);
      font-size: $twenty-fourpx;
      padding: $fourpx $eightpx;
    }
  }
}
