.Logement {
  .city {
    margin-block: $tenpx;
  }
  .tags-zone {
    display: flex;
    flex-wrap: wrap;
    gap: $tenpx;
  }
  .likes-and-host {
    margin-block: $fifteenpx;
    @include flex-center;
    .likes-zone {
      @include flex-center($justify: flex-start);
      gap: $sevenpx;
    }
  }
  .collapses-zone {
    @include grid(2);
    gap: $twentypx;
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 1250px) {
  .Logement {
    .city {
      margin-block: 0 $sixteenpx;
    }
  }
}
