body {
  font-family: $font1;
  font-size: $classic-body-font-size;
}

main {
  padding-inline: $classic-margin;
}

@media screen and (min-width: 768px) {
  .d-none-from-tablet {
    display: none;
  }
}
