body {
  font-family: $font1;
  font-size: $classic-body-font-size;
}

main {
  padding-inline: $classic-margin;
}

h1 {
  font-size: $classic-h1-font-size;
  font-weight: $weight-regular;
  color: $color1;
}

h2 {
  font-size: $classic-h2-font-size;
  font-weight: $weight-regular;
}

// Overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $banner-overlay;
}

.Banner {
  &.banner-has-not-title {
    .overlay {
      background-color: $banner-overlay2;
    }
  }
}
.Card {
  .overlay {
    background-color: $card-overlay;
  }
}

@media screen and (min-width: 768px) {
  .d-none-from-tablet {
    display: none;
  }
}
