// ========================
// MIXINS POUR DISPLAY FLEX
// ========================

@mixin flex-center($justify: space-between, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// ========================
// MIXINS POUR POSITIONNEMENT
// ========================

@mixin absolute($x: $twentypx, $y: $twentypx) {
  position: absolute;
  z-index: 1;
  left: $x;
  bottom: $y;
}

@mixin absolute-center($x: -50%) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  @if $x != -50% {
    left: $x;
    transform: translate(0, -40%);
  }
}

// ========================
// MIXINS POUR DISPLAY GRID
// ========================

// Grid sur x colonnes
@mixin grid($columns: 4) {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    @if $columns > 1 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1250px) {
    @if $columns > 2 {
      grid-template-columns: repeat($columns, 1fr);
    }
  }
}

// ========================
// MIXINS POUR MARGES ET PADDING
// ========================

@mixin classic-margin {
  margin: $twentypx;
  @media screen and (min-width: 1250px) {
    margin: $hundredpx;
  }
}

@mixin classic-padding {
  padding: $twentypx;
  @media screen and (min-width: 1250px) {
    padding: $hundredpx;
  }
}

// ========================
// MIXINS POUR TYPOGRAPHIE
// ========================

@mixin classic-nav-menu {
  text-transform: uppercase;
  font-size: $classic-nav-font-size;
  font-weight: $weight-medium;
  @media screen and (min-width: 1250px) {
    font-size: $thirty-fourpx;
  }
}

@mixin classic-card-title-font-size {
  font-size: $fourteenpx;
  @media screen and (min-width: 1250px) {
    font-size: $eighteenpx;
  }
}

@mixin classic-card-title {
  @include classic-card-title-font-size;
}

@mixin classic-body-font-size {
  font-size: $twelvepx;
  @media screen and (min-width: 1250px) {
    font-size: $eighteenpx;
  }
}

@mixin classic-body {
  @include classic-body-font-size;
  font-weight: $weight-regular;
  line-height: 1.5;
}

// ========================
// MIXINS POUR TITRES
// ========================

// For h1
@mixin classic-h1-font-size() {
  font-size: $eighteenpx;

  @media screen and (min-width: 1250px) {
    font-size: $thirty-sixpx;
  }
}
@mixin classic-h1() {
  @include classic-h1-font-size;
  font-weight: $weight-semibold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: $color1;

  @media screen and (min-width: 1250px) {
    font-size: $thirty-sixpx;
  }
}

// For h2
@mixin classic-h2-font-size() {
  font-size: $fourteenpx;

  @media screen and (min-width: 1250px) {
    font-size: $eighteenpx;
  }
}

@mixin classic-h2() {
  @include classic-h2-font-size;
  font-weight: $weight-semibold;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

@mixin classic-banner-title() {
  font-size: $twenty-fourpx;
  @media screen and (min-width: 1250px) {
    font-size: $thirty-sixpx;
  }
}

// ========================
// MIXINS POUR TAGS
// ========================

@mixin classic-tag-font-size() {
  font-size: $tenpx;

  @media screen and (min-width: 1250px) {
    font-size: $fourteenpx;
  }
}

@mixin classic-tag-radius() {
  border-radius: $fivepx;

  @media screen and (min-width: 1250px) {
    border-radius: $tenpx;
  }
}

@mixin classic-tag() {
  @include classic-tag-font-size;
  @include flex-center(center);
  @include classic-tag-radius;
  background-color: $color1;
  color: $color5;
  width: calc($sixtypx + $twenty-fourpx);

  text-align: center;
  font-weight: $weight-semibold;
  padding-block: $fivepx $fourpx;

  @media screen and (min-width: 1250px) {
    width: max-content;
    padding-inline: $sixteenpx;
  }
}

// ========================
// MIXINS POUR MODALES
// ========================

//Modal image
@mixin classic-modal-image {
  @include absolute-center;
  width: calc(100% - 2 * $twentypx);
  height: 50%;
  z-index: 6;

  @media screen and (min-width: 1250px) {
    width: 80%;
    height: 80%;
  }
}

// ========================
// MIXINS POUR OMBRES
// ========================

@mixin classic-text-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

// ========================
// MIXINS POUR BORDURES
// ========================

@mixin classic-border-radius {
  border-radius: $fivepx;
  @media screen and (min-width: 1250px) {
    border-radius: $tenpx;
  }
}
