* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color3;
  transition: color 0.3s ease-in-out;
  &:not(.active) {
    &:hover {
      color: $color1;
    }
  }
  &.active {
    text-decoration: underline;
    cursor: default;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
