.Home {
  .cards-zone {
    @include grid(3);
    gap: $twentypx;
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 768px) {
  .Home {
    .cards-zone {
      padding: $fiftypx;
      background-color: $color3;
      border-radius: $twenty-fivepx;
    }
  }
}

@media screen and (min-width: 1250px) {
  .Home {
    .cards-zone {
      gap: $fiftypx;
    }
  }
}
