.Host {
  @include flex-center($justify: flex-start);
  gap: $tenpx;
  .host-name {
    color: $color1;
    max-width: $ninetypx;
    text-align: end;
  }
  .host-picture {
    width: $thirty-twopx;
    height: $thirty-twopx;

    img {
      border-radius: 50%;
    }
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 1250px) {
  .Host {
    .host-picture {
      width: calc($fourtypx + $twenty-fourpx);
      height: calc($fourtypx + $twenty-fourpx);
    }
  }
}
