.Collapse {
  overflow: hidden;

  header {
    background-color: $color1;
    color: $color5;
    font-weight: $weight-semibold;
    height: $thirtypx;
    padding-inline: $tenpx;
    border-radius: $collapse-radius;
    position: relative;
    z-index: 2;
    cursor: pointer;
    @include flex-center;
    .arrow {
      transition: 0.3s ease-in-out;
      img {
        width: $sixteenpx;
        height: 9.4px;
      }
    }
  }
  .content {
    border-radius: $collapse-radius;
    background-color: $color3;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    .content-inner {
      padding: $twenty-fivepx $twentypx $twentypx;
    }
  }
  &.open {
    header {
      .arrow {
        transform: rotate(-180deg);
      }
    }
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 1250px) {
  .Collapse {
    header {
      height: calc($thirtypx + $twenty-twopx);
      font-size: $twenty-fourpx;

      .arrow {
        img {
          width: $twenty-fourpx;
          height: $fourteenpx;
        }
      }
    }
    .content {
      padding: 0 $thirtypx;
    }
  }
}
