.Collapse {
  overflow: hidden;

  header {
    background-color: $color1;
    color: $color5;
    font-weight: $weight-semibold;
    height: $thirtypx;
    padding-inline: $tenpx;
    border-radius: $collapse-radius;
    position: relative;
    z-index: 2;
    cursor: pointer;
    @include flex-center;
    .arrow {
      transition: 0.3s ease-in-out;
      img {
        width: $sixteenpx;
        height: 9.4px;
      }
    }
  }
  .content {
    border-radius: $collapse-radius;
    padding: $twenty-fivepx $twentypx $twentypx;
    background-color: $color3;
    transition: 0.075s ease-in-out;
    transform: translateY(-50%);
    position: absolute;
    visibility: hidden;
  }
  &.open {
    header {
      .arrow {
        transform: rotate(-180deg);
      }
    }
    .content {
      display: block;
      position: unset;
      transform: translateY(-10%);
      visibility: visible;
      transition: 0.3s ease-in-out;
    }
  }
}
