.Header {
  @include flex-center;
  justify-content: space-between;
  @include classic-padding;
  padding-bottom: calc($twenty-sevenpx - $twentypx);
  .logo {
    img {
      width: $logo-width;
    }
  }
  nav {
    ul {
      display: flex;
      gap: $twenty-fivepx;
      li {
        a {
          @include classic-nav-menu;
        }
      }
    }
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 1250px) {
  .Header {
    padding-block: calc($twentypx + $twenty-fivepx) $fiftypx;

    nav {
      ul {
        gap: $thirtypx;
        li {
          a {
            font-size: $fourteenpx;
          }
        }
      }
    }
  }
}
