.Header {
  @include flex-center;
  justify-content: space-between;
  padding: $classic-margin $classic-margin 27px;
  .logo {
    img {
      width: $logo-width;
    }
  }
  nav {
    ul {
      display: flex;
      gap: 40px;
      list-style: none;
      li {
        a {
          text-transform: uppercase;
          font-size: $classic-nav-font-size;
          font-weight: $weight-medium;
          &:hover {
          }
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
