.Header {
  @include flex-center;
  justify-content: space-between;
  padding: $classic-margin $classic-margin $thirtypx;
  .logo {
    img {
      width: $logo-width;
    }
  }
  nav {
    ul {
      display: flex;
      gap: $twenty-fivepx;
      li {
        a {
          text-transform: uppercase;
          font-size: $classic-nav-font-size;
          font-weight: $weight-regular;
        }
      }
    }
  }
}
