.Card {
  position: relative;
  @include classic-gallery-card;
  border-radius: $classic-radius;
  overflow: hidden;

  h2 {
    @include absolute;
    @include classic-card-title;
    color: $color5;
    width: calc(100% - 2 * $twentypx);
  }
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}
