.Banner {
  position: relative;
  height: calc($hundredpx + $elevenpx);
  margin-bottom: $twentypx;
  img {
    border-radius: $classic-banner-radius;
  }

  .overlay {
    border-radius: $classic-banner-radius;
  }
  h1 {
    @include absolute-center($eighteenpx);
    @include classic-banner-title;
    @include classic-text-shadow;
    z-index: 5;
    color: $color5;
  }
}

// ========================================================================================================================
//                                                MEDIA QUERIES ( RESPONSIVE )
// ========================================================================================================================

@media screen and (min-width: 1250px) {
  .Banner {
    height: calc(2 * $hundredpx + $twenty-threepx);

    h1 {
      @include absolute-center();

      width: max-content;
    }
  }
}
