.Banner {
  position: relative;
  height: calc($hundredpx + $elevenpx);
  margin-bottom: $twentypx;
  img {
    border-radius: $classic-banner-radius;
  }

  .overlay {
    border-radius: $classic-banner-radius;
  }
  h1 {
    @include absolute-center($eighteenpx);
    font-size: $classic-banner-font-size;
    width: calc(2 * $hundredpx + $twenty-fivepx);
    color: $color5;
    text-shadow: $text-shadow;
  }
}
